# Server
PORT=3000

# MongoDB
MONGODB_URI=mongodb+srv://gowindadmin:harinai123@cluster0.xxxxxx.mongodb.net/gowind-likebot?retryWrites=true&w=majority&appName=Cluster0

# Indian SMM Store API
API_URL=https://indiansmm.store/api/v2
API_KEY=	f801de64d5ff37013ac34218bd4309ba92e4863d
